<template>
  <div class="container">
    <v-data-table :headers="headers" :items="desserts" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title class="text-h5" type="#6200EA"
            >Book List</v-toolbar-title
          >
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="#E91E63" dark class="mb-2" v-bind="attrs" v-on="on">
                New Item
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container height="500px">
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.todoList"
                        label="Book List"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.author"
                        label="Author"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.total"
                        label="total"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#D84315" text @click="close"> Cancel </v-btn>
                <v-btn color="#1B5E20" text @click="save"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Siz ushbu kitobni olib tashlamoqchimisiz?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green" text @click="closeDelete">Yo'q</v-btn>
                <v-btn color="red" text @click="deleteItemConfirm">Ha</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon color="#76FF03" class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon color="red" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "Book Name",
        align: "center",
        value: "todoList",
      },
      { text: "Author", align: "center", value: "author" },
      { text: "Total", align: "center", value: "total" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      todoList: "",
      author: "",
      total: 0,
    },
    defaultItem: {
      todoList: "",
      author: "",
      total: 0,
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.desserts = [
        {
          todoList: "Halqa",
          author: "Akrom Malik",
          total: 10,
        },
        {
          todoList: "Izlash",
          author: "Mehmet Yildiz",
          total: 20,
        },
        {
          todoList: "Saodat asri qissalari",
          author: "Ahmad Lutfiy Qazonchi",
          total: 30,
        },
        {
          todoList: "Islom tarixi",
          author: "Shayx Muhammad Sodiq Muhammad Yusuf",
          total: 16.0,
        },
      ];
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.unshift(this.editedItem);
      }
      this.close();
    },
  },
};
</script>

<style>

.container {
  margin-top:200px;
  width: 100%;
  max-width: 800px !important;
  min-height: 150px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.v-application .v-data-table.elevation-1 {
  box-shadow: 0px 5px 36px 9px rgba(34, 60, 80, 0.63) !important;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}
</style>
