<template>
  <div class="container table-border">
    <v-data-table v-if="!items.openEdit" :headers="headers" :items="items" :items-per-page="5" class="elevation-1">
    <input type="text" class="todo-inp" />

      <template v-slot:[`item.actions`]="{ item }">
        <h2>djjchdscb</h2>
        <v-icon  @click="openEdit = !openEdit" color="deep-orange accent-4"> mdi-edit </v-icon>
        <v-icon  @click="deleteItem(item)" color="deep-orange accent-4"> mdi-delete </v-icon>
      </template>
      <template v-slot:[`item.index`]="{ index }">
        {{index+1}}
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  props: {
    items: Array,
  },
  data() {
    return {
      headers: [
        {
          text: "T/r",
          align: "center",
          sortable: false,
          value: "index",
        },
        {
          text: "You can enter your own lists here",
          align: "center",
          sortable: false,
          value: "name",
        },
        {
          text: "Icons",
          align: "center",
          sortable: false,
          value: "actions",
        },
      ],
    };
  }, 
  methods: {
    deleteItem(item) {
      this.$emit("del", item.id);
    },
  },
};
</script>

<style>
.container {
  margin-top: 80px;
  width: 100%;
  max-width: 1000px !important;
  min-height: 300px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto; 
}



.table-border td, th {
  border: 1px solid #ccc;
  font-size: 20px !important;
}



</style>
