<template>
  <div id="app">
    <v-app>
      <!-- <div class="parent">
        <input
          v-model="newTodo"
          type="text"
          class="todo-inp"
          placeholder="Todo list"
        />
        <button @click="todoCreate" class="add-btn btn">Add</button>
      </div>
      <v-snackbar
        top
        v-model="snackbar"
        :timeout="1000"
        :value="true"
        absolute
        centered
        color="pink accent-3"
        elevation="24"
      >
        Iltimos biror bir ma'lumot kiriting!
      </v-snackbar> -->
      <data-table />
    </v-app>
  </div>
</template>

<script>
// import DataTable from "./components/TodoList.vue";
import DataTable from "./components/NewTodoList.vue";
export default {
  name: "App",
  data() {
    return {
      // newTodo: null,
      // todoList: [],
      // snackbar: false,
    };
  },

  components: {
    DataTable,
  },
  methods: {
    // todoCreate() {
    //   if (!this.newTodo) {
    //     this.snackbar = true;
    //     return;
    //   }
    //   this.todoList.unshift({
    //     id: Math.random(),
    //     name: this.newTodo,
    //     openEdit: false,
    //   });
    //   this.newTodo = "";
    // },
    // todoDelete(id) {
    //   let del = this.todoList.findIndex((item) => item.id == id);
    //   this.todoList.splice(del, 1);
    // },
  },
};
</script>

<style>
#app {
  width: 100%;
  height: 100%;
  display: flex;
  /* background: url("https://source.unsplash.com/1980x900/?cloud") 0 0 / cover
    no-repeat;
  background-repeat: no-repeat; */
background-color: #f50057;
background-image: linear-gradient(155deg, #f50057 26%, #76ffed 50%, #f50057 73%);

}



/* .parent {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-inp {
  padding: 15px;
  border: 1px solid #f65a83;
  color: #f65a83;
  margin-right: 15px;
  font-size: 16px;
  font-weight: bold;
}

.todo-inp:focus {
  border: 1px solid #b93160;
  outline: 2px dashed #b93160;
  outline-offset: 3px;
}

.btn {
  padding: 14px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  user-select: none;
}
.btn:active {
  transform: scale(0.98);
}
.add-btn {
  background-color: #d61c4e;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.todo-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-text {
  margin: 0 20px;
}

.edit-btn {
  background-color: #00ffab;
  color: green;
  margin-right: 10px;
}

.delet-btn {
  background-color: #eb1d36;
  color: #fff;
  margin-right: 10px;
} */
</style>
